.site-names {
	position: relative;
	margin-left: -4px;
	margin-right: 15px;
}

@media (min-width: 860px) {
	.site-names {
		margin-left: -12px;
	}
}

.site-names__list {
	display: block;
	position: absolute;
	top: 20px;
	padding: 10px 12px;

	border-radius: 3px;
	box-shadow: 0 4px 14px 0 rgba(222, 222, 222, 0.32);
	pointer-events: none;
	opacity: 0;

	background-color: #FFF;
	border: 1px solid #F0F0F0;

	font-size: 0.8rem;
	font-weight: normal;
	line-height: 1.5;

	white-space: nowrap;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	z-index: 10;
}

.site-names__list.site-names__list--compressed  {
	display: block;
	position: fixed;

	overflow: hidden;
	text-overflow: ellipsis;
}

.v-header__actions .site-names__list {
	top: 42px;
}

.site-names__list.active {
	pointer-events: all;
	opacity: 1
}

.site-names__list b {
	font-weight: 500;
	letter-spacing: 0.01em
}

.site-names__toggle {
	display: inline-block;
	position: relative;
	height: 1em;
	padding: 0;
	width: 10px;
	margin-left: 4px;

	vertical-align: middle;

	background-size: contain;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 8L13 1H1Z' fill='%23595959' stroke='%23595959' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: center center;

	border: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.content-header__left .site-names {
	margin-left: -20px;
}

@media (max-width: 839px) {
	.content-header__left .site-names {
		margin-left: -10px;
	}
}

.content-header__left .site-names__toggle {
	vertical-align: -2px;
}

.content-header__info .site-names {
	margin-left: -8px;
}

@media (min-width: 860px) {
	.content-header__info .site-names {
		margin-left: -16px;
	}

	.content--embed .content-header__info .site-names {
		margin-left: -8px;
	}
}

.comment__author + .site-names {
	margin-left: -6px;
	margin-right: 8px;
}

@media (min-width: 860px) {
	.comment__author + .site-names {
		-ms-flex-order: -2;
		order: -2
	}
}

.v-header__actions .site-names {
	margin-right: 0;
	margin-left: 0;
}

.subsite_head__row .site-names {
	margin: initial;
}

.table__cell + .site-names {
	margin-right: 0;
	margin-left: 0;
}

@media (max-width: 859px) {
	.content-header__info {
		overflow: visible;
	}
}
